html, body, #root {
  height: 100%;
}

#root {
  background: linear-gradient(45deg, rgb(0, 140, 255) 0%, rgb(72, 255, 0.5) 70%, rgba(252, 252, 252, 1) 100%);
  color: black;
}

div:focus {
  outline: none;
}

.scrollable-container {
  height: 20vh; /* 20% of the viewport height */
  width: 80%; /* Or whatever width you prefer */
  overflow-y: auto; /* Adds a scrollbar when content overflows */
  border: 1px solid #555;
  padding: 1rem;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: small;
}

button {
  border-radius: 15px;
  background-color: white;
}

input {
  border-radius: 10px;
}

.btn-emoji {
  background: transparent;
  border: 0;
  padding: 0;
  font-size: 1.8rem;
  cursor: pointer;
  line-height: 1;;
}

.btn-action-sm {
  height: 20px;
  padding: 0 0.5rem;
  font-size: 0.75rem;

  display: inline-flex;
  align-items: center;
}